.title {
    width: 100%;
    padding:20px;
    text-align: center;
    font-size: 3rem;
    color: #2A77AE;
    margin-bottom: 50px;
  }
  h3 {
    color:lightslategray;
   font-size: 30px;
   padding:20px;
   
  }
  h4 {
padding: 20px;
color:lightcoral;
  }